extends erplayout

block content
    .add-trip-note
        .gtr-header
            span SEFERE NOT EKLE
        .trip-note-close 
            i.fa-solid.fa-x
        .p-3
            textarea.form-control.trip-note-text.mb-3
            button.save-trip-note.btn.btn-outline-primary EKLE

    .add-transaction
        .gtr-header
            span GELİR EKLE
        .add-transaction-close
            i.fa-solid.fa-x
        .d-flex.flex-column.gap-3.p-3
            .input-group
                span.input-group-text Miktar
                input.form-control.transaction-amount(type="text")
            .input-group
                span.input-group-text Açıklama
                textarea.form-control.transaction-description(type="text")
            .d-flex.gap-3.justify-content-end
                button.btn.btn-outline-primary.add-transaction-button EKLE
                button.btn.btn-outline-primary.add-transaction-close KAPAT

    .transaction-transfer
        .gtr-header
            span KASA DEVİR
        .transaction-transfer-close
            i.fa-solid.fa-x
        .d-flex.flex-column.gap-3.p-3
            .input-group
                span.input-group-text Şube
                select.form-select.transfer-branch()
            .input-group
                span.input-group-text Kullanıcı
                select.form-select.transfer-user()
            .d-flex.gap-3.justify-content-end
                button.btn.btn-outline-primary.transaction-transfer-button ONAYLA
                button.btn.btn-outline-primary.transaction-transfer-close KAPAT

    .payment-request
        .gtr-header
            span ÖDEME İSTE
        .payment-request-close
            i.fa-solid.fa-x
        .d-flex.flex-column.gap-3.p-3
            .input-group
                span.input-group-text Kullanıcı
                select.form-select.payment-request-user()
            .input-group
                span.input-group-text Tutar
                input.form-control.payment-request-amount(type="text")
            .d-flex.gap-3.justify-content-end
                button.btn.btn-outline-primary.payment-request-button ONAYLA
                button.btn.btn-outline-primary.payment-request-close KAPAT

    .payment-send
        .gtr-header
            span ÖDEME YAP
        .payment-send-close
            i.fa-solid.fa-x
        .d-flex.flex-column.gap-3.p-3
            .input-group
                span.input-group-text Kullanıcı
                select.form-select.payment-send-user()
            .input-group
                span.input-group-text Tutar
                input.form-control.payment-send-amount(type="text")
            .d-flex.gap-3.justify-content-end
                button.btn.btn-outline-primary.payment-send-button ONAYLA
                button.btn.btn-outline-primary.payment-send-close KAPAT

    .pending-payments
        .gtr-header
            span BEKLEYEN ÖDEMELERİM
        .pending-payments-close
            i.fa-solid.fa-x
        .p-3.pending-payments-list.d-flex.flex-column.gap-2

    .pending-collections
        .gtr-header
            span BEKLEYEN TAHSİLATLARIM
        .pending-collections-close
            i.fa-solid.fa-x
        .p-3.pending-collections-list.d-flex.flex-column.gap-2

    .register
        .gtr-header
            span KASA
        .register-close
            i.fa-solid.fa-x
        .d-flex.flex-column.gap-3.p-3
            .d-flex.gap-2
                .input-group.register-data-input
                    span.input-group-text Bakiye
                    input.form-control.balance(type="text" readonly)
                .input-group.register-data-input
                    span.input-group-text Toplam Gelir
                    input.form-control.income-summary(type="text" readonly)
                .input-group.register-data-input
                    span.input-group-text Toplam Gider
                    input.form-control.expense-summary(type="text" readonly)
            .d-flex.gap-2
                .input-group.register-data-input
                    span.input-group-text Nakit Satış
                    input.form-control.cash-sales(type="text" readonly)
                .input-group.register-data-input
                    span.input-group-text Kredi Kartı Satış
                    input.form-control.card-sales(type="text" readonly)
                .input-group.register-data-input
                    span.input-group-text Toplam Satış
                    input.form-control.sales-summary(type="text" readonly)
                .input-group.register-data-input
                    span.input-group-text Devir Alınan
                    input.form-control.transferred-income(type="text" readonly)
                .input-group.register-data-input
                    span.input-group-text Diğer Gelir
                    input.form-control.other-income(type="text" readonly)
            .d-flex.gap-2
                .input-group.register-data-input
                    span.input-group-text Nakit İade
                    input.form-control.cash-refund(type="text" readonly)
                .input-group.register-data-input
                    span.input-group-text Kredi Kartı İade
                    input.form-control.card-refund(type="text" readonly)
                .input-group.register-data-input
                    span.input-group-text Toplam İade
                    input.form-control.refund-summary(type="text" readonly)
                .input-group.register-data-input
                    span.input-group-text Otobüse Ödenen
                    input.form-control.payed-to-bus(type="text" readonly)
                .input-group.register-data-input
                    span.input-group-text Diğer Gider
                    input.form-control.other-expense(type="text" readonly)
        .p-3.d-flex.gap-3.justify-content-end
            if permissions.includes('REGISTER_RECORD_MANAGE')
                button.btn.btn-outline-success.btn-sm.add-income-nav
                    i.fa-solid.fa-plus.me-2
                    | Gelir Ekle
                button.btn.btn-outline-danger.btn-sm.add-expense-nav
                    i.fa-solid.fa-minus.me-2
                    | Gider Ekle
            if permissions.includes('REGISTER_RESET')
                button.btn.btn-outline-primary.btn-sm Sıfırla
            if permissions.includes('REGISTER_TRANSFER')
                button.btn.btn-outline-primary.btn-sm.transaction-transfer-nav Başka Kullanıcıya Devret
        .p-3
            .d-flex.mb-2
                .col-2
                    p.text-center.m-0 İşlem Zamanı
                .col-2
                    p.text-center.m-0 Tipi
                .col-4
                    p.text-center.m-0 Açıklama
                .col-2
                    p.text-center.m-0 Bilgi
                .col-2
                    p.text-center.m-0 Tutarı
            .transaction-list.d-flex.flex-column.gap-2

    .other-register
        .gtr-header
            span DİĞER KULLANICI KASALARI
        .other-register-close
            i.fa-solid.fa-x
        .d-flex.flex-column.gap-3.p-3
            .d-flex.gap-2
                .input-group.register-data-input
                    span.input-group-text Şube
                    select.form-select.other-register-branch
                        option(value="" selected) Şube Seç
                        each b in branches
                            option(value=b.id) #{b.title}
                .input-group.register-data-input
                    span.input-group-text Kullanıcı
                    select.form-select.other-register-user
                .input-group.register-data-input
                    span.input-group-text Bakiye
                    input.form-control.other-register-balance(type="text" readonly)
        .p-3
            .d-flex.mb-2
                .col-2
                    p.text-center.m-0 İşlem Zamanı
                .col-2
                    p.text-center.m-0 Tipi
                .col-4
                    p.text-center.m-0 Açıklama
                .col-2
                    p.text-center.m-0 Bilgi
                .col-2
                    p.text-center.m-0 Tutarı
            .transaction-list.other-transaction-list.d-flex.flex-column.gap-2

    .open-ticket-sale
        .open-ticket-close
            i.fa-solid.fa-x
        .gtr-header
            span AÇIK BİLET SAT
        .d-flex.flex-column.gap-3.p-3
            .input-group
                span.input-group-text Nereden
                select.form-select.open-ticket-from
                    option(value="" selected) Seçiniz
                    each s in stops
                        option(value=s.id) #{s.title}
            .input-group
                span.input-group-text Nereye
                select.form-select.open-ticket-to
                    option(value="" selected) Seçiniz
                    each s in stops
                        option(value=s.id) #{s.title}
            .input-group
                span.input-group-text Kaç Adet
                input.form-control.open-ticket-count(type="number" min="1" value="1")
            .d-flex.gap-3.justify-content-end
                button.btn.btn-outline-primary.open-ticket-next İLERİ
                button.btn.btn-outline-primary.open-ticket-close KAPAT

    .ticket-search-pop-up
        .ticket-search-close
            i.fa-solid.fa-x
        .gtr-header
            span Bilet Ara
        .inputs
            .input-group
                span.input-group-text İsim
                input.search-name.form-control(type="text")
            .input-group
                span.input-group-text Soyisim
                input.search-surname.form-control(type="text")
            .input-group
                span.input-group-text Kimlik No
                input.search-idnum.form-control(type="text")
            .input-group
                span.input-group-text Telefon No
                input.search-phone.form-control(type="text")
            .input-group
                span.input-group-text PNR
                input.search-pnr.form-control(type="text")
            .input-group
                span.input-group-text Kalkış
                select.form-select(type="text")
            .input-group
                span.input-group-text Varış
                select.form-select(type="text")
            .input-group
                button.ticket-search-button.btn.btn-outline-primary ARA
        .searched-table.px-3

    .bus-plans
        .bus-plans-close
            i.fa-solid.fa-x
        .gtr-header
            span OTOBÜS PLANLARI
        .d-flex
            .col-6.p-3
                .text-end
                    button.btn.mb-2.add-bus-plan
                        i.fa-solid.fa-plus.me-2
                        | EKLE
                .d-flex
                    .col-6
                        p.text-center.mb-0 Plan Adı
                    .col-6
                        p.text-center.mb-0 Açıklama
                .d-flex.flex-column.gap-3.p-2
                    each b in busModel
                        button.btn.btn-outline-primary.bus-plan-button.d-flex.w-100(data-id=b.id)
                            .col-6
                                p.text-center.mb-0 #{b.title}
                            .col-6
                                p.text-center.mb-0 #{b.description}
            .col-6.d-flex.gap-3.p-3.align-items-start.bus-plan-panel

    .bus
        .gtr-header
            span OTOBÜSLER
        .bus-close
            i.fa-solid.fa-x
        .d-flex
            .bus-list.col-12.p-3.border-end.h-100
                .text-end
                    button.btn.mb-2.add-bus
                        i.fa-solid.fa-plus.me-2
                        | EKLE
                .d-flex.mb-2
                    .col-4
                        p.text-center.m-0 Plaka
                    .col-4
                        p.text-center.m-0 Otobüs Modeli
                    .col-4
                        p.text-center.m-0 Telefon
                .bus-list-nodes.d-flex.flex-column.gap-3

            .bus-info.h-100
                .input-group
                    span.input-group-text Plaka
                    input.bus-license-plate.form-control(type="text" )
                .input-group
                    span.input-group-text Otobüs Modeli
                    select.bus-bus-model.form-select()
                        option(value="" selected) 
                        each b in busModel
                            option(value=b.id) #{b.title}
                .input-group
                    span.input-group-text Kaptan Şoför
                    select.bus-captain.form-select()
                        option(value="" selected) 
                .input-group
                    span.input-group-text Araç Telefonu
                    input.bus-phone.form-control(type="text" )
                .input-group
                    span.input-group-text Sahibi
                    input.bus-owner.form-control(type="text" )
                button.save-bus.btn.btn-outline-primary KAYDET
            .bus-settings.h-100
                b Falan Filan Ayarları
                .ms-3.mb-3
                    .form-check
                        input#flexCheckChecked.form-check-input(type="checkbox" value="" checked)
                        label.form-check-label(for="flexCheckChecked") Bu bir ayar dostum
                    .d-flex.gap-2
                        .col-auto
                            label.col-form-label(for="inputPassword6") Başka bir ayar bu da
                        .col-auto
                            input.form-control(type="text")
                b Zart Zurt Parametreleri
                .ms-3.mb-3
                    .form-check
                        input#flexCheckChecked.form-check-input(type="checkbox" value="" checked)
                        label.form-check-label(for="flexCheckChecked") Bu bir ayar dostum
                    .form-check
                        input#flexCheckChecked.form-check-input(type="checkbox" value="" checked)
                        label.form-check-label(for="flexCheckChecked") Bu bir ayar dostum
                    .d-flex.gap-2
                        .col-auto
                            label.col-form-label(for="inputPassword6") Başka bir ayar bu da
                        .col-auto
                            input.form-control(type="text")

    .staff
        .staff-close
            i.fa-solid.fa-x
        .gtr-header
            span PERSONELLER
        .d-flex
            .col-6.p-3
                .text-end
                    button.btn.mb-2.add-staff
                        i.fa-solid.fa-plus.me-2
                        | EKLE
                .d-flex.mb-2
                    .col-4
                        p.text-center.mb-0 Kimlik No
                    .col-4
                        p.text-center.mb-0 İsim Soyisim
                    .col-4
                        p.text-center.mb-0 Görev
                .staff-list-nodes.d-flex.flex-column.gap-3.p-2
            .col-6.flex-column.gap-3.p-3.align-items-start.staff-panel
                .input-group
                    span.input-group-text Kimlik Numarası
                    input.staff-id-number.form-control(type="text")
                .input-group
                    span.input-group-text Görev
                    select.staff-duty.form-select()
                        option(value="" selected)
                        option(value="driver") Şoför
                        option(value="assistant") Muavin
                        option(value="hostess") Hostes
                .input-group
                    span.input-group-text İsim
                    input.staff-name.form-control(type="text")
                .input-group
                    span.input-group-text Soyisim
                    input.staff-surname.form-control(type="text")
                .input-group
                    span.input-group-text Adres
                    textarea.staff-address.form-control()
                .input-group
                    span.input-group-text Telefon
                    input.staff-phone.form-control(type="text")
                .input-group
                    span.input-group-text Cinsiyet
                    .form-check.form-check-inline
                        input.form-check-input(type="radio" name="staff-gender" value="m")
                        label.form-check-label Erkek
                    .form-check.form-check-inline
                        input.form-check-input(type="radio" name="staff-gender" value="f")
                        label.form-check-label Kadın
                .input-group
                    span.input-group-text Uyruk
                    select.staff-nationality.form-select()
                        option(value="" selected)
                        option(value="tr") Türkiye
                        option(value="usa") Amerika
                        option(value="sr") Suriye
                button.save-staff.btn.btn-outline-primary KAYDET

    .stops
        .stops-close
            i.fa-solid.fa-x
        .gtr-header
            span DURAKLAR
        .d-flex
            .col-6.p-3
                .text-end
                    button.btn.mb-2.add-stop
                        i.fa-solid.fa-plus.me-2
                        | EKLE
                .d-flex
                    .col-6
                        p.text-center.mb-0 Durak Adı
                    .col-6
                        p.text-center.mb-0 Yer
                .stop-list-nodes.d-flex.flex-column.gap-3.p-2
            .col-6.flex-column.gap-3.p-3.align-items-start.stop-panel
                .input-group
                    span.input-group-text Durak Adı
                    input.stop-title.form-control(type="text" )
                .input-group
                    span.input-group-text Web Adı
                    input.stop-web-title.form-control(type="text" )
                .input-group
                    span.input-group-text Yer
                    select.stop-place.form-select()
                        option(value="" selected)
                        each p in places
                            option(value=p.id) #{p.title}
                .input-group
                    span.input-group-text UETDS Kodu
                    input.stop-uetds.form-control(type="text" )
                .form-check.form-switch
                    input.form-check-input.stop-service(type="checkbox" )
                    label.form-check-label Hizmet Alanı
                .form-check.form-switch
                    input.form-check-input.stop-active(type="checkbox" checked)
                    label.form-check-label Aktif
                button.save-stop.btn.btn-outline-primary KAYDET

    .route
        .gtr-header
            span HATLAR
        .route-close
            i.fa-solid.fa-x
        .d-flex
            .route-list.col-12.p-3.border-end.h-100
                .text-end
                    button.btn.mb-2.add-route
                        i.fa-solid.fa-plus.me-2
                        | EKLE
                .d-flex.mb-2
                    .col-2
                        p.text-center.m-0 Kod
                    .col-4
                        p.text-center.m-0 Hat Adı
                    .col-3
                        p.text-center.m-0 Nereden
                    .col-3
                        p.text-center.m-0 Nereye
                .route-list-nodes.d-flex.flex-column.gap-3

            .route-info.h-100
                .input-group
                    span.input-group-text Hat Kodu
                    input.route-code.form-control(type="text" )
                .input-group
                    span.input-group-text Hat Adı
                    input.route-title.form-control(type="text" )
                .input-group
                    span.input-group-text Nereden
                    select.route-from.form-select()
                        option(value="" selected)
                .input-group
                    span.input-group-text Nereye
                    select.route-to.form-select()
                        option(value="" selected)
                .input-group
                    span.input-group-text Açıklama
                    input.route-description.form-control(type="text" )
                button.save-route.btn.btn-outline-primary KAYDET
            .route-settings.h-100
                .input-group.mb-3
                    select.route-stop-place.form-select()
                        option(value="" selected)
                    input.route-stop-duration.form-control(placeholder="00:00" type="text" style="display:none;")
                    button.add-route-stop-button.btn.btn-outline-primary(type="button") EKLE
                .route-stops.d-flex.flex-column.gap-3

    .trip
        .gtr-header
            span SEFERLER
        .trip-close
            i.fa-solid.fa-x
        .d-flex
            .trip-list.col-12.p-3.border-end.h-100
                .d-flex.justify-content-between.align-content-center
                    input.trip-settings-calendar.form-control(type="text")
                    .text-end
                        button.btn.mb-2.add-trip
                            i.fa-solid.fa-plus.me-2
                            | EKLE
                .d-flex
                    .d-flex.mb-2(class=`${permissions.includes('TRIP_CANCEL')?"col-11":"col-12"}`)
                        .col-2
                            p.text-center.m-0 Kalkış Saati
                        .col-2
                            p.text-center.m-0 Nereden
                        .col-2
                            p.text-center.m-0 Nereye
                        .col-2
                            p.text-center.m-0 Plaka
                        .col-1
                            p.text-center.m-0 Hat Kodu
                        .col-3
                            p.text-center.m-0 Hat Adı
                    if permissions.includes('TRIP_CANCEL')
                        .col-1
                .trip-list-nodes.d-flex.flex-column.gap-3

            .trip-info.h-100.col-5
                .input-group
                    span.input-group-text Hat
                    select.trip-route.form-select()
                        option(value="" selected)
                .input-group
                    span.input-group-text İlk Tarih
                    input.trip-first-date.form-control(type="text" )
                .input-group
                    span.input-group-text Son Tarih
                    input.trip-last-date.form-control(type="text" )
                .input-group
                    span.input-group-text Kalkış Saati
                    input.trip-departure.form-control(type="text" )
                .input-group
                    span.input-group-text Otobüs Planı
                    select.trip-bus-model.form-select()
                        option(value="" selected)
                .input-group
                    span.input-group-text Otobüs
                    select.trip-bus.form-select()
                        option(value="" selected)
                button.save-trip.btn.btn-outline-primary EKLE
            .trip-settings.h-100.col-5
                button.save-trip.btn.btn-outline-primary KAYDET

    .trip-staff-pop-up
        .gtr-header
            span PERSONELLER
        .trip-staff-close
            i.fa-solid.fa-x
        .d-flex.flex-column.gap-3.p-3
            if permissions.includes('TRIP_STAFF_ASSIGN')
                .input-group
                    span.input-group-text Kaptan Şoför
                    select.form-select.trip-staff-captain
                        option(value="" selected) Seçilmedi
                    input.form-control.trip-staff-captain-phone(type="text" readonly)
                .input-group
                    span.input-group-text 2. Şoför
                    select.form-select.trip-staff-second
                        option(value="" selected) Seçilmedi
                    input.form-control.trip-staff-second-phone(type="text" readonly)
                .input-group
                    span.input-group-text 3. Şoför
                    select.form-select.trip-staff-third
                        option(value="" selected) Seçilmedi
                    input.form-control.trip-staff-third-phone(type="text" readonly)
                .input-group
                    span.input-group-text Muavin
                    select.form-select.trip-staff-assistant
                        option(value="" selected) Seçilmedi
                    input.form-control.trip-staff-assistant-phone(type="text" readonly)
                .input-group
                    span.input-group-text Hostes
                    select.form-select.trip-staff-hostess
                        option(value="" selected) Seçilmedi
                    input.form-control.trip-staff-hostess-phone(type="text" readonly)
                .d-flex.gap-3.justify-content-end
                    button.btn.btn-outline-primary.trip-staff-save KAYDET
                    button.btn.btn-outline-primary.trip-staff-close İPTAL
            else
                .input-group
                    span.input-group-text Kaptan Şoför
                    input.form-control.trip-staff-captain(type="text" readonly)
                    input.form-control.trip-staff-captain-phone(type="text" readonly)
                .input-group
                    span.input-group-text 2. Şoför
                    input.form-control.trip-staff-second(type="text" readonly)
                    input.form-control.trip-staff-second-phone(type="text" readonly)
                .input-group
                    span.input-group-text 3. Şoför
                    input.form-control.trip-staff-third(type="text" readonly)
                    input.form-control.trip-staff-third-phone(type="text" readonly)
                .input-group
                    span.input-group-text Muavin
                    input.form-control.trip-staff-assistant(type="text" readonly)
                    input.form-control.trip-staff-assistant-phone(type="text" readonly)
                .input-group
                    span.input-group-text Hostes
                    input.form-control.trip-staff-hostess(type="text" readonly)
                    input.form-control.trip-staff-hostess-phone(type="text" readonly)

    .trip-revenue-pop-up
        .gtr-header
            span SEFER HASILATI
        .trip-revenue-close
            i.fa-solid.fa-x
        table.table.table-sm.table-bordered.mb-0
            thead
                tr
                    th Şube
                    th Durak
                    th Toplam
            tbody.trip-revenue-rows
            tfoot
                tr
                    th Toplam
                    th.trip-revenue-total-current
                    th.trip-revenue-total-all

    .trip-stop-restriction-pop-up
        .gtr-header
            span DURAK KISITLAMA
        .trip-stop-restriction-close
            i.fa-solid.fa-x
        .trip-stop-restriction-content.p-3
        .d-flex.gap-3.justify-content-end.p-3
            button.btn.btn-outline-primary.trip-stop-restriction-save KAYDET
            button.btn.btn-outline-primary.trip-stop-restriction-close KAPAT

    .prices
        .gtr-header
            span FİYATLAR
        .price-close
            i.fa-solid.fa-x
        .d-flex
            .price-list.col-12.p-3.border-end.h-100
                .text-end
                    button.btn.mb-2.add-price
                        i.fa-solid.fa-plus.me-2
                        | EKLE
                .d-flex.mb-2
                    .col
                        p.text-center.m-0 Nereden
                    .col
                        p.text-center.m-0 Nereye
                    .col
                        p.text-center.m-0 Fiyat1
                    .col
                        p.text-center.m-0 Fiyat2
                    .col
                        p.text-center.m-0 Fiyat3
                    .col
                        p.text-center.m-0 Webfiyat
                    .col
                        p.text-center.m-0 Tekli1
                    .col
                        p.text-center.m-0 Tekli2
                    .col
                        p.text-center.m-0 Tekli3
                    .col
                        p.text-center.m-0 Webtekli
                    .col
                        p.text-center.m-0 Koltuklimit
                    .col
                        p.text-center.m-0 Saatlimit
                    .col
                        p.text-center.m-0 Nezamandan
                    .col
                        p.text-center.m-0 Nezamana
                .price-list-nodes.d-flex.flex-column.gap-3
        .p-3.d-flex.justify-content-end
            button.btn.btn-outline-primary.price-save KAYDET

    .price-add-popup
        .gtr-header
            span FİYAT EKLE
        .price-add-close
            i.fa-solid.fa-x
        .p-3.d-flex.flex-column.gap-3
            .d-flex.mb-2
                .col
                    p.text-center.m-0 Nereden
                .col
                    p.text-center.m-0 Nereye
                .col
                    p.text-center.m-0 Fiyat1
                .col
                    p.text-center.m-0 Fiyat2
                .col
                    p.text-center.m-0 Fiyat3
                .col
                    p.text-center.m-0 Webfiyat
                .col
                    p.text-center.m-0 Tekli1
                .col
                    p.text-center.m-0 Tekli2
                .col
                    p.text-center.m-0 Tekli3
                .col
                    p.text-center.m-0 Webtekli
                .col
                    p.text-center.m-0 Koltuklimit
                .col
                    p.text-center.m-0 Saatlimit
                .col
                    p.text-center.m-0 Nezamandan
                .col
                    p.text-center.m-0 Nezamana
            .d-flex.btn.btn-primary.price-button-inputs.price-add-row
                .col
                    select.price-button-select
                .col
                    select.price-button-select
                .col
                    input.price-button-input(type="text" value="")
                .col
                    input.price-button-input(type="text" value="")
                .col
                    input.price-button-input(type="text" value="")
                .col
                    input.price-button-input(type="text" value="")
                .col
                    input.price-button-input(type="text" value="")
                .col
                    input.price-button-input(type="text" value="")
                .col
                    input.price-button-input(type="text" value="")
                .col
                    input.price-button-input(type="text" value="")
                .col
                    input.price-button-input(type="text" value="")
                .col
                    input.price-button-input.hour-limit(type="number" value="")
                .col
                    input.price-button-input.date-picker(type="text" value="")
                .col
                    input.price-button-input.date-picker(type="text" value="")
        .p-3.d-flex.gap-3.justify-content-end
            button.btn.btn-outline-primary.price-add-save KAYDET
            button.btn.btn-outline-primary.price-add-save-continue KAYDET VE DEVAM ET

    .ticket-cancel-refund-open
        .ticket-cancel-refund-open-close
            i.fa-solid.fa-x
        .gtr-header
            span 
        .tickets.p-3
        .d-flex.gap-3.justify-content-center.p-3
            button.btn.btn-outline-primary.disabled.ticket-button-action.cancel-action-button BİLET SEÇİN
            button.btn.btn-outline-danger.ticket-cancel-refund-open-close VAZGEÇ

    .moving
        .gtr-header
            span BİLET TRANSFER
        .moving-close
            i.fa-solid.fa-x
        .info
        .d-flex.justify-content-center.w-100.p-3.gap-2
            button.btn.btn-outline-primary.moving-confirm
                | ONAYLA
            button.btn.btn-outline-primary.moving-close
                | İPTAL

    .passenger-info-popup
        p.text-center
            b 
                span.seat-number 
        p.text-center
            b
                span.from 
                i.fa-solid.fa-route.mx-2
                span.to 
        p.text-center
            span.name 
            |   / 
            span.phone 
        p 
            b İşlem Yapan:
            span.username
            |   /
            span.userBranch
        p 
            b Ücret:
            span.price   
            |₺
        p 
            b Tahsilat Tipi:
            span.payment  
        p 
            b PNR:
            span.pnr  
        p 
            b İşlem Zamanı:
            span.createdAt

    .ticket-info-pop-up
        .ticket-close 
            i.fa-solid.fa-x
        .ticket-header
            p.ticket-header--date 12.05.2025 - 12.30
            p.mb-0
                b
                    span.ticket-info-pop-up_from 
                    i.fa-solid.fa-route.mx-2
                    span.ticket-info-pop-up_to 
        .ticket-rows

            .ticket-buttons.d-flex.justify-content-center.gap-3
                button.btn.btn-outline-primary.ticket-button-action(data-action="") 
                button.btn.btn-outline-primary.ticket-button-cancel İPTAL

    .branch
        .gtr-header
            span ŞUBELER
        .branch-close
            i.fa-solid.fa-x
        .d-flex
            .branch-list.col-12.p-3.border-end.h-100
                .text-end
                    button.btn.mb-2.add-branch
                        i.fa-solid.fa-plus.me-2
                        | EKLE
                .d-flex.mb-2
                    .col-6
                        p.text-center.m-0 Şube Adı
                    .col-6
                        p.text-center.m-0 Durak
                .branch-list-nodes.d-flex.flex-column.gap-3

            .branch-info.h-100
                .d-flex.justify-content-end 
                    .form-check
                        input#isBranchActive.form-check-input(type="checkbox" value="active" checked)
                        label.form-check-label(for="isBranchActive") Aktif
                .input-group
                    span.input-group-text Şube Adı
                    input.branch-title.form-control(type="text" )
                .input-group
                    span.input-group-text Bulunduğu Durak
                    select.branch-place.form-select()
                        option(value="" selected)
                .form-check
                    input#isMainBranch.form-check-input(type="checkbox" value="")
                    label.form-check-label(for="isMainBranch") Bu bir ana şube mi?
                .input-group
                    span.input-group-text Ana Şube
                    select.branch-main-branch.form-select
                        option(value="" selected)
                button.save-branch.btn.btn-outline-primary KAYDET
            .branch-settings.h-100
                b Falan Filan Ayarları
                .ms-3.mb-3
                    .form-check
                        input#flexCheckChecked.form-check-input(type="checkbox" value="" checked)
                        label.form-check-label(for="flexCheckChecked") Bu bir ayar dostum
                    .d-flex.gap-2
                        .col-auto
                            label.col-form-label(for="inputPassword6") Başka bir ayar bu da 
                        .col-auto
                            input.form-control(type="text")
                b Zart Zurt Parametreleri
                .ms-3.mb-3
                    .form-check
                        input#flexCheckChecked.form-check-input(type="checkbox" value="" checked)
                        label.form-check-label(for="flexCheckChecked") Bu bir ayar dostum
                    .form-check
                        input#flexCheckChecked.form-check-input(type="checkbox" value="" checked)
                        label.form-check-label(for="flexCheckChecked") Bu bir ayar dostum
                    .d-flex.gap-2
                        .col-auto
                            label.col-form-label(for="inputPassword6") Başka bir ayar bu da 
                        .col-auto
                            input.form-control(type="text")

    .users
        .gtr-header
            span KULLANICILAR
        .users-close
            i.fa-solid.fa-x
        .d-flex
            .user-list.col-12.p-3.border-end.h-100
                .text-end
                    button.btn.mb-2.add-user
                        i.fa-solid.fa-plus.me-2
                        | EKLE
                .d-flex.mb-2
                    .col-4
                        p.text-center.m-0 Ad Soyad
                    .col-4
                        p.text-center.m-0 Şube
                    .col-4
                        p.text-center.m-0 Telefon
                .user-list-nodes.d-flex.flex-column.gap-3

            .user-info.h-100
                .d-flex.justify-content-end 
                    .form-check
                        input#isUserActive.form-check-input(type="checkbox" value="active" checked)
                        label.form-check-label(for="isUserActive") Aktif
                .input-group
                    span.input-group-text Ad Soyad
                    input.user-name.form-control(type="text" )
                .input-group
                    span.input-group-text Kullanıcı Adı
                    input.user-username.form-control(type="text" )
                .input-group
                    span.input-group-text Şifre
                    input.user-password.form-control(type="password" )
                .input-group
                    span.input-group-text Telefon
                    input.user-phone.form-control(type="text" )
                .input-group
                    span.input-group-text Şube
                    select.user-branches.form-select()
                        option(value="" selected) 
                        each b in branches
                            option(value=b.id) #{b.title}
                button.save-user.btn.btn-outline-primary KAYDET
            .user-settings.h-100
                b Falan Filan Ayarları
                .ms-3.mb-3
                    .form-check
                        input#flexCheckChecked.form-check-input(type="checkbox" value="" checked)
                        label.form-check-label(for="flexCheckChecked") Bu bir ayar dostum
                    .d-flex.gap-2
                        .col-auto
                            label.col-form-label(for="inputPassword6") Başka bir ayar bu da
                        .col-auto
                            input.form-control(type="text")
                b Zart Zurt Parametreleri
                .ms-3.mb-3
                    .form-check
                        input#flexCheckChecked.form-check-input(type="checkbox" value="" checked)
                        label.form-check-label(for="flexCheckChecked") Bu bir ayar dostum
                    .form-check
                        input#flexCheckChecked.form-check-input(type="checkbox" value="" checked)
                        label.form-check-label(for="flexCheckChecked") Bu bir ayar dostum
                    .d-flex.gap-2
                        .col-auto
                            label.col-form-label(for="inputPassword6") Başka bir ayar bu da
                        .col-auto
                            input.form-control(type="text")

    .members
        .gtr-header
            span ABONELER
        .members-close
            i.fa-solid.fa-x
        .members-search.p-3.d-flex.gap-2
            .input-group
                span.input-group-text Kimlik No
                input.member-search-idNumber.form-control(type="text")
            .input-group
                span.input-group-text İsim
                input.member-search-name.form-control(type="text")
            .input-group
                span.input-group-text Soyisim
                input.member-search-surname.form-control(type="text")
            .input-group
                span.input-group-text Telefon
                input.member-search-phone.form-control(type="text")
            button.btn.btn-outline-primary.member-search-btn ARA
            button.btn.btn-outline-primary.member-add-btn EKLE
        .member-list.p-3
            .d-flex.mb-2(class=`${permissions.includes('TRIP_BLACKLIST_MANAGE')?"col-11":"col-12"}`)
                .col-3
                    p.text-center.m-0 TC
                .col-3
                    p.text-center.m-0 Ad
                .col-3
                    p.text-center.m-0 Soyad
                .col-3
                    p.text-center.m-0 Telefon
            if permissions.includes('TRIP_BLACKLIST_MANAGE')
                .col-1
            .member-list-nodes.d-flex.flex-column.gap-3

    .customers
        .gtr-header
            span MÜŞTERİLER
        .customers-close
            i.fa-solid.fa-x
        .customers-search.p-3.d-flex.gap-2
            .input-group
                span.input-group-text Kimlik No
                input.customer-search-idNumber.form-control(type="text")
            .input-group
                span.input-group-text İsim
                input.customer-search-name.form-control(type="text")
            .input-group
                span.input-group-text Soyisim
                input.customer-search-surname.form-control(type="text")
            .input-group
                span.input-group-text Telefon
                input.customer-search-phone.form-control(type="text")
            button.btn.btn-outline-primary.customer-search-btn ARA
            button.btn.btn-outline-primary.customer-blacklist-btn KARA LİSTEYİ GETİR
        .customer-list.p-3
            .d-flex.mb-2
                .col-2
                    p.text-center.m-0 TC
                .col-3.customer-list-name-header
                    p.text-center.m-0 Ad
                .col-2
                    p.text-center.m-0 Soyad
                .col-2
                    p.text-center.m-0 Telefon
                .col-3.customer-list-category-header
                    p.text-center.m-0 Abonelik
                .col-2.blacklist-reason-header(style="display:none")
                    p.text-center.m-0 Sebep

            .customer-list-nodes.d-flex.flex-column.gap-3

    .blackout

    .ticket-ops-pop-up

    .taken-ticket-ops-pop-up
        .taken-ticket-op(data-action="complete")
            span SATIŞA ÇEVİR
        .taken-ticket-op(data-action="edit")
            span DÜZENLE
        .taken-ticket-op(data-action="refund")
            span İADE ET
        .taken-ticket-op(data-action="cancel")
            span İPTAL ET
        .taken-ticket-op(data-action="open")
            span AÇIĞA AL
        .taken-ticket-op(data-action="move")
            span TRANSFER ET
        .taken-ticket-op(data-action="")
            span KOLTUK GEÇMİŞİ

    .customer-blacklist-pop-up.p-3
        textarea.customer-blacklist-description.form-control(placeholder="Sebep")
        .d-flex.justify-content-end.gap-2.mt-2
            button.btn.btn-secondary.customer-blacklist-close KAPAT
            button.btn.btn-primary.customer-blacklist-add EKLE

    .row
        .col-4
            .passenger-table.mb-3
            .notes-stops
                .bg-white.h-100.p-2.w-50
                    .d-flex.justify-content-around.align-items-center 
                        span SEFER NOTLARI
                        button.add-trip-note-button.btn.btn-outline-primary 
                            i.fa-solid.fa-plus
                    hr.m-2
                    .trip-notes
                .stops-times.bg-white.h-100.p-2.w-50

            .ticker
                p GÖTÜR GÖTÜR GÖTÜR GÖTÜR GÖTÜR GÖTÜR GÖTÜR GÖTÜR GÖTÜR GÖTÜR GÖTÜR GÖTÜR GÖTÜR GÖTÜR GÖTÜR GÖTÜR GÖTÜR GÖTÜR GÖTÜR GÖTÜR GÖTÜR GÖTÜR GÖTÜR GÖTÜR GÖTÜR GÖTÜR GÖTÜR GÖTÜR GÖTÜR GÖTÜR GÖTÜR GÖTÜR GÖTÜR GÖTÜR 
        .col-5.d-flex.flex-column.align-items-center.px-3.gap-2
            .busPlan

        .col-3.right-panel
            input#calendar(type="hidden" name="")
            select#currentStop.form-select.form-select-sm
                each s in stops
                    option(value=s.id) #{s.title}
            .tripRows 
