each b in branches
    if b.isActive
        button.branch-button.d-flex.btn.btn-outline-primary(data-id=b.id data-title=b.title)
            .col-6
                p.text-center.m-0 #{b.title}
            .col-6
                p.text-center.m-0 #{b.placeStr}
    else
        button.branch-button.d-flex.btn.btn-danger(data-id=b.id data-title=b.title)
            .col-6
                p.text-center.m-0 #{b.title}
            .col-6
                p.text-center.m-0 #{b.placeStr}