.trip-info-settings
    .trip-helper-buttons
        if permissions.includes('TRIP_FINANCIAL_DETAILS_VIEW')
            .trip-incomes
                | ₺
                .trip-incomes-popup
                    .input-group
                        span.input-group-text.col-7 Satış (Drk)
                        input.form-control.form-control-sm(type="text" readonly value=incomes.currentSoldCount)
                        input.form-control.form-control-sm(type="text" readonly value=`${incomes.currentSoldAmount}₺`)
                    .input-group
                        span.input-group-text.col-7 Satış (Tüm)
                        input.form-control.form-control-sm(type="text" readonly value=incomes.totalSoldCount)
                        input.form-control.form-control-sm(type="text" readonly value=`${incomes.totalSoldAmount}₺`)
                    .input-group
                        span.input-group-text.col-7 Rezerve (Drk)
                        input.form-control.form-control-sm(type="text" readonly value=incomes.currentReservedCount)
                        input.form-control.form-control-sm(type="text" readonly value=`${incomes.currentReservedAmount}₺`)
                    .input-group
                        span.input-group-text.col-7 Rezerve (Tüm)
                        input.form-control.form-control-sm(type="text" readonly value=incomes.totalReservedCount)
                        input.form-control.form-control-sm(type="text" readonly value=`${incomes.totalReservedAmount}₺`)
                    .input-group
                        span.input-group-text.col-7 Toplam
                        input.form-control.form-control-sm(type="text" readonly value=incomes.grandCount)
                        input.form-control.form-control-sm(type="text" readonly value=`${incomes.grandAmount}₺`)
        .trip-options.dropdown
            .trip-options-button.dropdown-toggle(type="button" data-bs-toggle="dropdown" aria-expanded="false")
                i.fa-solid.fa-ellipsis-vertical
            ul.dropdown-menu
                if permissions.includes('TRIP_FINANCIAL_DETAILS_VIEW')
                    li
                        a.dropdown-item.trip-option-revenues(href="#") Hasılatlar
                li
                    a.dropdown-item.trip-option-staff(href="#") Personeller
    p.text-center.m-0 #{route.routeCode} | #{trip.dateString} - #{trip.timeString}
    p.m-0.text-center
        b
            | #{trip.fromPlaceString.toUpperCase()}
            i.fa-solid.fa-route.mx-2
            | #{trip.toPlaceString.toUpperCase()}
    .d-flex.justify-content-between.mb-1.captain-info
        b.m-0.captain-name #{captain ? captain.name + " " + captain.surname : ""}
        b.m-0.captain-phone #{captain ? captain.phoneNumber : ""}
    .d-flex.justify-content-between.mb-3
        if permissions.includes('REGISTER_VIEW_OTHERS')
            select.trip-bus-license-plate.form-select-sm.form-select(data-current-bus-id=trip.busId)
                option(value="" selected disabled) Plaka seçiniz.
            select.trip-bus-plan.form-select-sm.form-select(data-current-bus-model-id=trip.busModelId)
                option(value="" selected disabled) Koltuk planı seçiniz.
        else
            input.trip-bus-license-plate.form-control-sm.form-control(data-current-bus-id=trip.busId type="text" readonly)
            input.trip-bus-plan.form-control-sm.form-control(data-current-bus-model-id=trip.busModelId type="text" readonly)
.seats
    - let seatNumber = 0
    - let seatIndex = 0
    - for(let i = 0; i < 16; i++)
        .seat-row
            -for(let j = 0; j < 5; j++){
            -   if(busModel.planBinary[seatIndex] == 0){
                -if((seatIndex+1)%5==0){
                    .seat.none
                        |0
                -}
                -else{
                    .seat.hidden
                        |0
                -}
            -}
            -   else{
            -       seatNumber++
                .seat(class=`${tickets[seatNumber]?tickets[seatNumber].gender:""}  ${tickets[seatNumber]?tickets[seatNumber].status:""} seat-${seatNumber} ${tickets[seatNumber]?tickets[seatNumber].stopOrder:""}` 
                    data-seat-number=seatNumber 
                    data-group-id=tickets[seatNumber]?tickets[seatNumber].ticketGroupId:"" 
                    data-pnr=tickets[seatNumber]?tickets[seatNumber].pnr:"" 
                    data-gender=tickets[seatNumber]?tickets[seatNumber].gender:""  
                    data-from=tickets[seatNumber]?tickets[seatNumber].from:"" 
                    data-to=tickets[seatNumber]?tickets[seatNumber].to:"" 
                    data-name=tickets[seatNumber]?tickets[seatNumber].name+" "+tickets[seatNumber].surname:"" 
                    data-phone=tickets[seatNumber]?tickets[seatNumber].phoneNumber:"" 
                    data-price=tickets[seatNumber]?tickets[seatNumber].price:"" 
                    data-created-at=tickets[seatNumber]?tickets[seatNumber].createdAt:"" 
                    data-user-name=tickets[seatNumber]?tickets[seatNumber].user:"" 
                    data-branch=tickets[seatNumber]?tickets[seatNumber].userBranch:"" 
                    data-trip-id=trip.id)

                    p.seat-number #{seatNumber}
                    p.from #{tickets[seatNumber]?tickets[seatNumber].from:""}
                    .seat-content
                        p.web #{tickets[seatNumber]?tickets[seatNumber].status == "web"?"WEB":"":""}
                        p.price #{tickets[seatNumber]?tickets[seatNumber].price+"₺":""}
                    p.to #{tickets[seatNumber]?tickets[seatNumber].to:""}
            -}
            -   seatIndex++;
            -}
input#fromId(type="hidden" value=fromId)
input#toId(type="hidden" value=toId)
input#fromStr(type="hidden" value=fromStr)
input#toStr(type="hidden" value=toStr)
input#tripDate(type="hidden" value=tripDate)
input#tripTime(type="hidden" value=tripTime)
input#tripPlaceTime(type="hidden" value=trip.modifiedTime)
input#tripId(type="hidden" value=tripId)
input#captainId(type="hidden" value=trip.captainId)
input#driver2Id(type="hidden" value=trip.driver2Id)
input#driver3Id(type="hidden" value=trip.driver3Id)
input#assistantId(type="hidden" value=trip.assistantId)
input#hostessId(type="hidden" value=trip.hostessId)
