each c in customers
    - const btnClass = c.isBlackList ? 'btn-outline-danger' : 'btn-outline-primary'
    button.d-flex.btn(class=btnClass)
        .col-2
            p.text-center.m-0 #{c.idNumber}
        .col-2
            p.text-center.m-0 #{c.name}
        .col-2
            p.text-center.m-0 #{c.surname}
        .col-2
            p.text-center.m-0 #{c.phoneNumber}
        .col-2
            p.text-center.m-0 #{c.customerCategory == 'member' ? 'Abone' : ''}
        if blacklist
            .col-2
                p.text-center.m-0 #{c.blackListDescription}
