each c in customers
    - const btnClass = c.isBlackList ? 'btn-outline-danger' : 'btn-outline-primary'
    .btn-group
        button.d-flex.btn.col-11(class=btnClass)
            .col-2
                p.text-center.m-0 #{c.idNumber}
            .col-1
                p.text-center.m-0 #{c.name}
            .col-2
                p.text-center.m-0 #{c.surname}
            .col-2
                p.text-center.m-0 #{c.phoneNumber}
            .col-2
                p.text-center.m-0 #{c.customerCategory == 'member' ? 'Abone' : ''}
            .col-2
                p.text-center.m-0 #{c.blackListDescription}
        if blacklist
            button.btn.btn-outline-primary.customer-blacklist-open.col-1(data-id=c.id)
                i.fa-solid.fa-user
        else
            button.btn.btn-outline-danger.customer-blacklist-open.col-1(data-id=c.id)
                i.fa-solid.fa-user-slash
