- const capitalize = s => s ? s.charAt(0).toUpperCase() + s.slice(1).toLowerCase() : ''
each c in customers
    button.d-flex.btn.btn-outline-primary
        .col-3
            p.text-center.m-0 #{c.idNumber}
        .col-3
            p.text-center.m-0 #{capitalize(c.name)} #{capitalize(c.surname)}
        .col-3
            p.text-center.m-0 #{c.phoneNumber}
        .col-3
            p.text-center.m-0 #{c.customerCategory == 'member' ? 'Abone' : ''}
