each p in prices
    .d-flex.btn.btn-outline-primary
        .col
            p.text-center.m-0 #{p.fromTitle}
        .col
            p.text-center.m-0 #{p.toTitle}
        .col
            p.text-center.m-0 #{p.price1}
        .col
            p.text-center.m-0 #{p.price2}
        .col
            p.text-center.m-0 #{p.price3}
        .col
            p.text-center.m-0 #{p.webPrice}
        .col
            p.text-center.m-0 #{p.singleSeatPrice1}
        .col
            p.text-center.m-0 #{p.singleSeatPrice2}
        .col
            p.text-center.m-0 #{p.singleSeatPrice3}
        .col
            p.text-center.m-0 #{p.singleSeatWebPrice}
        .col
            p.text-center.m-0 #{p.seatLimit}
        .col
            p.text-center.m-0 #{p.hourLimit}
        .col
            p.text-center.m-0 #{p.validFrom}
        .col
            p.text-center.m-0 #{p.validUntil}
