p#price-stops-data #{JSON.stringify(stops)}
each p in prices
    .btn-group.w-100
        button.price-row.d-flex.btn.btn-outline-primary.col-11(type="button" data-id=p.id data-from=p.fromTitle data-to=p.toTitle)
            .col
                p.text-center.m-0(data-value=p.fromStopId) #{p.fromTitle}
            .col
                p.text-center.m-0(data-value=p.toStopId) #{p.toTitle}
            .col
                p.text-center.m-0(data-value=p.isBidirectional) #{p.isBidirectional ? "Evet" : "Hayır"}
            .col
                p.text-center.m-0 #{p.price1}
            .col
                p.text-center.m-0 #{p.price2}
            .col
                p.text-center.m-0 #{p.price3}
            .col
                p.text-center.m-0 #{p.webPrice}
            .col
                p.text-center.m-0 #{p.singleSeatPrice1}
            .col
                p.text-center.m-0 #{p.singleSeatPrice2}
            .col
                p.text-center.m-0 #{p.singleSeatPrice3}
            .col
                p.text-center.m-0 #{p.singleSeatWebPrice}
            .col
                p.text-center.m-0 #{p.seatLimit}
            .col
                p.text-center.m-0(data-value=p.hourLimit) #{p.hourLimit}
            .col
                p.text-center.m-0(data-value=p.validFrom) #{p.validFrom}
            .col
                p.text-center.m-0(data-value=p.validUntil) #{p.validUntil}
        button.btn.btn-outline-danger.price-delete.col-1(type="button" data-id=p.id data-from=p.fromTitle data-to=p.toTitle)
            i.fa-solid.fa-trash
