- const tickets = activeTickets.concat(canceledTickets)
table.table.table-bordered.table-hover.table-sm.m-0.bg-white
    thead
        tr
            th(scope="col") Seat
            th(scope="col") Full Name
            th(scope="col") Gender
            th(scope="col") From
            th(scope="col") To
            th(scope="col") Date
            th(scope="col") Price
            th(scope="col") Payment
            th(scope="col") Status
            th(scope="col") Phone
            th(scope="col") ID
            th(scope="col") PNR
    tbody
        each t in tickets
            tr(class=t.isOtherStop ? 'other-stop' : ''
                data-seat-number=t.seatNo
                data-status=t.status
                data-pnr=t.pnr ? t.pnr : ''
                data-group-id=t.ticketGroupId
                data-is-own-branch-ticket=t.isOwnBranchTicket
                data-is-own-branch-stop=t.isOwnBranchStop
                data-refund-option=t.tripRefundOptionDate
                data-stop-id=t.fromRouteStopId
                data-trip-id=t.tripId
                data-trip-date=t.rawTripDate
                data-trip-time=t.rawTripTime
                data-seat-type=t.seatType || ''
                data-pending-ticket-id=(t.status === 'pending' ? t.id : '')
                data-ticket-id=t.id)
                td.text-center #{t.seatNo}
                td #{t.name} #{t.surname}
                td #{t.gender}
                td #{t.from}
                td #{t.to}
                td #{t.date} #{t.time}
                td #{t.price}₺
                td Cash
                if t.status == "web"
                    td WEB
                else if t.status == "completed" || t.status == "gotur"
                    td SOLD
                else if t.status == "reservation"
                    td RES
                else if t.status == "open"
                    td OPEN
                else if t.status == "pending"
                    td PENDING
                else if t.status == "canceled"
                    td CANCELED
                else if t.status == "refund"
                    td REFUND
                else
                    td -
                td #{t.phoneNumber}
                td #{t.idNumber}
                td #{t.pnr ? t.pnr : ""}