- for(let i = 0; i < seats.length; i++){
    .ticket-row(class=gender[i])
        .seat-number
            p.mb-0 #{`${seats[i]<10?"0"+seats[i]:seats[i]}`}
            input(type="hidden" value=seats[i])
        .gender
            input.male(id="male_"+i name="gender_"+i type="radio" value="m" checked=gender[i]=="m"?true:false)
            label.male.gender-input-label(for="male_"+i) ERKEK
            input.female(id="female_"+i name="gender_"+i type="radio" value="f" checked=gender[i]=="f"?true:false)
            label.female.gender-input-label(for="female_"+i) KADIN
        .nationality
            label.form-label Uyruk
            select.form-select.form-select-sm(value=ticket?ticket[i].nationality:"")
                option(value="tr") Türkiye 
                if permissions.includes('FOREIGN_PASSENGER_TICKET_SALE')
                    option(value="us") Amerika 
                    option(value="sr") Suriye
                else 
                    option(value="" disabled) Amerika 
                    option(value="" disabled) Suriye
        .identity
            label.form-label Kimlik/Pasaport No
            if !permissions.includes("UPDATE_SALE_PASSENGER_INFO") && ticket?ticket[i].status:"" == "completed"
                input.form-control.form-control-sm(readonly type="text" name="" value=ticket?ticket[i].idNumber:"")
            else
                input.form-control.form-control-sm(type="text" name="" value=ticket?ticket[i].idNumber:"")
        .name
            label.form-label İsim
            input.form-control.form-control-sm(type="text" name="" value=ticket?ticket[i].name:"")
        .surname
            label.form-label Soyisim
            input.form-control.form-control-sm(type="text" name="" value=ticket?ticket[i].surname:"")
        .type
            label.form-label Yolcu Türü
            select.form-select.form-select-sm(value=ticket?ticket[i].customerType:"")
                option(value="adult") Yetişkin 
                option(value="child") Çocuk 
                option(value="student") Öğrenci 
                option(value="disabled") Engelli 
                option(value="retired") Emekli
        .category
            label.form-label Kategori
            select.form-select.form-select-sm(value=ticket?ticket[i].customerCategory:"")
                option(value="normal") Normal
                if (permissions.includes('SALE_DISCOUNT_TICKET_OWN_BRANCH') && isOwnBranch) || (permissions.includes('SALE_DISCOUNT_TICKET_OTHER_BRANCH') && !isOwnBranch) 
                    option(value="member") Abone
                    option(value="guest") Misafir
        .price
            label.form-label Fiyat 
                span.customer-point.ms-1
            if !permissions.includes('ENTER_FREE_PRICE')
                if seatTypes[i] == "single"
                    input.form-control.form-control-sm(readonly type="number" name="" value=ticket?ticket[i].price:price.singleSeatPrice1)
                else
                    input.form-control.form-control-sm(readonly type="number" name="" value=ticket?ticket[i].price:price.price1)
            else 
                if seatTypes[i] == "single"
                    input.form-control.form-control-sm(type="number" name="" value=ticket?ticket[i].price:price.singleSeatPrice1)
                else
                    input.form-control.form-control-sm(type="number" name="" value=ticket?ticket[i].price:price.price1)
-}
.ticket-info    
    .up-row
        .phone
            label.form-label Telefon Numarası
            if !permissions.includes("UPDATE_SALE_PASSENGER_INFO") && ticket?ticket[0].status:"" == "completed"
                input.form-control.form-control-sm(readonly type="text" name="" value=ticket?ticket[0].phoneNumber:"" placeholder="555 555 55 55") 
            else
                input.form-control.form-control-sm(type="text" name="" value=ticket?ticket[0].phoneNumber:"" placeholder="555 555 55 55") 
        if action == "reservation" || action == "edit"
            .reservation-expire
                label.form-label Rezervasyon Opsiyonu
                if permissions.includes('UPDATE_RESERVATION_OPTION_TIME')
                    if isOwnBranch ||(!isOwnBranch && permissions.includes('UPDATE_RESERVATION_OPTION_TIME_OTHER_BRANCH'))
                        .input-group
                            input.changable.date.form-control.form-control-sm(type="text" name="" value=`${ticket?ticket[0].optionDate:trip.date}`) 
                            input.changable.time.form-control.form-control-sm(type="text" name="" value=`${ticket?ticket[0].optionTime:trip.modifiedTime}`) 
                    else
                        .input-group
                            input.date.form-control.form-control-sm(readonly type="text" name="" value=`${ticket?ticket[0].optionDate:trip.date}`) 
                            input.time.form-control.form-control-sm(readonly type="text" name="" value=`${ticket?ticket[0].optionTime:trip.modifiedTime}`) 
                else
                    .input-group
                        input.date.form-control.form-control-sm(readonly type="text" name="" value=`${ticket?ticket[0].optionDate:trip.date}`) 
                        input.time.form-control.form-control-sm(readonly type="text" name="" value=`${ticket?ticket[0].optionTime:trip.modifiedTime}`) 
        .take-on
            label.form-label Biniş Yeri
            input.form-control.form-control-sm(type="text" name="") 
        .take-off
            label.form-label İniş Yeri
            input.form-control.form-control-sm(type="text" name="") 
        if action == "sell" || action == "edit" || action == "complete"
            .payment
                label.form-label Ödeme
                select.form-select.form-select-sm
                    option(value="cash") Nakit
                    option(value="card") K. Kartı
                    option(value="point") Puan
        if ticket && (action == "edit" || action == "complete") 
            .pnr
                label.form-label PNR
                input.form-control.form-control-sm(type="text" name="" value=ticket?ticket[0].pnr:"" readonly) 
        .sum-price
            label.form-label Toplam Fiyat
            input.form-control.form-control-sm(readonly type="text" name="" value=ticket?ticket[0].price*seats.length:"") 
    .row
        .description
            label.form-label Açıklama
            input.form-control.form-control-sm(type="text" name="") 