each t in trips
    .tripRow(class=`${t.isExpired?"expired":""} ${t.isActive?"":"disabled"}`  data-time=t.time data-date=t.date data-tripid=t.id)
        div 
            p #{t.dateString}
        div 
            p #{t.timeString}
        div 
            p #{t.fromPlaceString} -> #{t.toPlaceString}
        div 
            p #{t.fullness}