each t in trips
    .btn-group
        button.trip-button.d-flex.btn(type="button" class=`${t.isActive?"btn-outline-primary":"btn-danger"} ${permissions.includes('TRIP_CANCEL')?"col-11":"col-12"}` data-id=t.id data-time=t.time)
            .col-2
                p.text-center.m-0 #{t.time}
            .col-2
                p.text-center.m-0 #{t.fromPlaceString}
            .col-2
                p.text-center.m-0 #{t.toPlaceString}
            .col-2
                p.text-center.m-0 #{t.licensePlate}
            .col-1
                p.text-center.m-0 #{t.routeCode}
            .col-3
                p.text-center.m-0 #{t.routeTitle}
        if permissions.includes('TRIP_CANCEL')
            if t.isActive
                button.trip-cancel-button.btn.btn-outline-danger.col-1(type="button" data-trip-id=t.id data-trip-date=t.date data-trip-time=t.time)
                    i.fa-solid.fa-ban
            else
                button.trip-active-button.btn.btn-outline-primary.col-1(type="button" data-trip-id=t.id data-trip-date=t.date data-trip-time=t.time)
                    i.fa-regular.fa-circle
