each t in trips
    .tripRow(data-time=t.time data-date=t.date data-tripid=t.id)
        div 
            p #{t.dateString}
        div 
            p #{t.timeString}
        div 
            p #{t.fromPlaceString} -> #{t.toPlaceString}
        div 
            p #{t.busPlanString}