each u in users
    .btn-group.w-100
        button.user-button.d-flex.btn.btn-outline-primary.col-11(type="button" data-id=u.id data-username=u.username data-name=u.name)
            .col-4
                p.text-center.m-0 #{u.name}
            .col-4
                p.text-center.m-0 #{u.branchStr}
            .col-4
                p.text-center.m-0 #{u.phoneNumber}
        button.btn.btn-outline-danger.user-delete.col-1(type="button" data-id=u.id data-name=u.name)
            i.fa-solid.fa-trash
