each u in users
    button.user-button.d-flex.btn.btn-outline-primary(data-id=u.id data-username=u.username)
        .col-4
            p.text-center.m-0 #{u.name}
        .col-4
            p.text-center.m-0 #{u.branchStr}
        .col-4
            p.text-center.m-0 #{u.phoneNumber}